.DS_Store
photogate-backups
fp-info-cache
KiCAD-files/~photogate.kicad_pcb.lck
KiCAD-files/\#auto_saved_files\#
KiCAD-files/_autosave-photogate.kicad_sch
KiCAD-files/~photogate.kicad_sch.lck
KiCAD-files/test
